---
---

// $header-bg-color = 
$header-bg-color-secondary: #1e7cda;

@import "{{ site.theme }}";

// shrink the header, change the gradient
.page-header {
    // overrides all breakpoints, I just want it smaller.
    padding: 1rem; 
    background-image: url(/assets/images/SYRAS-logo-thin.png), linear-gradient(120deg, #155799, #1e7cda);
    background-repeat: no-repeat;
}

// screenshots have a dropshadow to show they're not real UI
.screenshot {
    box-shadow: 5px 5px 10px 3px rgba(163,158,163,0.42);
}